@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

body {
    text-align: center;
    margin: 5% 10% 10% 10%;
}
h1 {
    font-size: 50px;
    font-family: 'Unica One', cursive;
    color: #7E7E7E;
    text-align: center;
}
h2 {
    font-family: 'Unica One', cursive;
    color: #7E7E7E;
    text-align: center;
    border-top: 1px solid #7E7E7E;
    padding-top: 20px;
}

h3 {
    font-family: 'Unica One', cursive;
    color: #7E7E7E;
    text-align: center;
    padding-top: 20px;
}


button {
    font-family: 'Unica One', cursive;
    padding: 5px;
    background-color: #7E7E7E;
    color: white;

}

#nav-left {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: inline; 
    text-align: center;
}
#nav-right {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: inline;
    text-align: center;
    
}
li {
    height: 30px;
    display: inline-flex;
    list-style-type: none;
    padding-top: 10px;
    border-left: 3px solid #7E7E7E;

}
#li-right {
    border-right: 3px solid #7E7E7E;
}
p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.blog-post {
    width: 30%;
    text-align: center;
    vertical-align: top;
    padding-top: 20px;

}

.blog-post-img {
    height: 200px;
    width: 30%;
}

@media (min-width: 975px) {
    h1 {
        display: inline;
    }
#nav-left {
    display: inline; 
    text-align: center;
    float: left;
    margin-top: 10px;
}
#nav-right {
    display: inline;
    text-align: center;
    float: right;
    margin-top: 10px;

}
li {
    height: 50px;
    display: inline-flex;
    list-style-type: none;
    padding-top: 10px;
    border-left: 3px solid #7E7E7E;

}
#li-left, #li-right {
    border-right: 3px solid #7E7E7E;
}
}

@media (min-width: 1425px)
{
    h1 {
        display: inline;
    }
li {
    font-family: 'Open Sans', sans-serif;
    height: 30px;
    display: inline-flex;
    list-style-type: none;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 3px solid #7E7E7E;

}

}

.Q-A {
    font-family: 'Open Sans', sans-serif;
}

td {
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding-top: 20px;
}

ul {
    list-style-type: square;
}

.question {
    font-weight: bold;
    padding-right: 50px;
}

a {
    color: inherit; 
    text-decoration: inherit; 
  
  }

  a:hover {
      font-weight: bold;
  }

  .li-sprint1 {
      padding-left: 10px;
      padding-right: 10px;
  }
    #li-sprint1-right {
  border-right: 3px solid #7E7E7E;

}