@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

body {
    text-align: center;
    margin: 5% 10% 10% 10%;
    color: #7E7E7E;

}

h1 {
    
    font-family: 'Unica One', cursive;
}
nav {
    border-bottom: 1px solid #7E7E7E;
    padding-bottom: 30px;
}

.nav {
    text-transform: uppercase;
    display: inline;
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 3px solid #7E7E7E;

}
#nav-left {
    border-right: 3px solid #7E7E7E;
}
h2 {
    font-family: 'Unica One', cursive;

}

a {
    color: inherit; 
    text-decoration: inherit; 
}
p {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

}

#border-code {
    margin-top: 15px;
    margin-bottom: 40px;
}

#margin-padding-border-img {
    width: 30%;
    margin: 50px;
}
#margin-padding-table, #eq-vs-iq  {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #7E7E7E;
    border-collapse: collapse;
}
#strength-limitations-table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #7E7E7E;
    border-collapse: collapse;
}
#eq-effects {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
 

}
#eq-effects td{
    border: none;
    text-align: left;
}

td {
    font-family: 'Open Sans', sans-serif;
    width: 30%;
    text-align: center;
    vertical-align: top;
    padding: 5px;
    border: 2px solid #7E7E7E;
}

th {
    font-family: 'Unica One', cursive;
    margin: 0px;
    font-size: 20px;
}

#attributes {
    width: 50%;
    text-align: left;
}

ul {
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    list-style-type: circle;
}

footer {
    border-top: 1px solid #7E7E7E;
    font-family: 'Unica One', cursive;
    padding: 10px;
}

.diary {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

#shrug-emoji {
    width: 20px;
}
a:hover {
    font-weight: bold;
}

div {
    border-bottom: 1px solid #7E7E7E;
    padding-bottom: 20px;
    padding-top: 20px;
}

#emotional-intelligence-header {
    width: 30%;
    height: 300px;
} */
